html, body {
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-font-smoothing: antialiased;

    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
}

.page-header {
    border-bottom: none;
}
