{% extends "error.html" %}

{% block body %}

<div class="align-items-center container d-flex h-100">
    <div class="flex-column text-center w-100">
        <h1 class="display-4">
            <strong>Oops!</strong>
        </h1>
        <h2>404</h2>
        <h4>Not Found</h4>
        <div class="error-actions">
            <a href="/" class="btn btn-primary btn-lg">
                <span class="fa fa-home"></span>
                Home
            </a>
        </div>
    </div>
</div>

{% endblock %}
