{% extends "base.html" %}

{% block body %}

<div class="container-fluid">
    <div class="mb-2 mt-4 pb-2 text-center">
        <h1 class="display-4">
            <strong>Changelog</strong>
        </h1>
    </div>
</div>

<div class="container">
    <form action="/add" method="post">
        <div class="form-group">
            <div class="input-group mb-3">
                <input autofocus aria-describedby="basic-addon2" aria-label="Log" class="form-control" name='description' placeholder="Log" type="text">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <ul class="bg-transparent list-group list-group-flush">
        {% for log in logs %}
        <li class="bg-transparent list-group-item">
            <strong>{{ log.created_at_str }}</strong> {{ log.description }}
            <span class="float-right">
                <form action="/delete/{{ log.id }}">
                    <button type="submit" class="btn btn-danger btn-sm">
                        <span class="fa fa-trash"></span>
                    </button>
                </form>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>

<p></p>

{% endblock %}
